<div class="agrupa-footer-divs">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 col-lg">
        <div class="ftco-footer-widget mb-4">
          <h2 class="logo" style="text-transform: unset;">Nossa Missão</h2>
          <p>Temos mais de 20 anos difundindo o cultivo da tamareira no Brasil.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5"  style="visibility: hidden;" >
            <li class="ftco-animate"><a href="#" style="visibility: hidden;"><span class="icon-twitter" style="visibility: hidden;"></span></a></li>
            <li class="ftco-animate"><a href="#" style="visibility: hidden;"><span class="icon-facebook"style="visibility: hidden;"></span></a></li>
            <li class="ftco-animate"><a href="#" style="visibility: hidden;" ><span class="icon-instagram"style="visibility: hidden;"></span></a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-6 col-lg">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Oferecemos</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Mudas de tamareira</a></li>
            <li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Consultoria</a></li>
            <li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Ajuda para organizar seu cultivo</a></li>
            
          </ul>
        </div>

      </div>

      <div class="col-md-6 col-lg">
        <div class="ftco-footer-widget mb-4">
         <h2 class="ftco-heading-2">Contato</h2>
         <div class="block-23 mb-3">
          <ul>
            <li><a href="www.tamaras.com.br"><span class="icon icon-desktop"></span><span class="text">www.tamaras.com.br</span></a></li>
            <li><a href="#"><span class="icon icon-phone"></span><span class="text">+55 71 99318-5275</span></a></li>
            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">mudas.tamaras@gmail.com</span></a></li>           

          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 text-center">

      <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;2021 All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</div>