<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container-fluid" id="menubar-content"> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav m-auto">
      	<li class="nav-item active"><a href="index.html" class="nav-link">Tamaras</a></li>
      	<li class="nav-item"><a href="tamareiras.html" class="nav-link">Tamareiras</a></li>
      <li class="nav-item"><a href="como_cultivar.html" class="nav-link">Como cultivar</a></li>
      	<li class="nav-item"><a href="fotos.html" class="nav-link">Fotos</a></li>
      	<li class="nav-item"><a href="blog.html" class="nav-link">Vendas de Mudas</a></li>
        <li class="nav-item"><a href="contato.html" class="nav-link">Contato</a></li>
      </ul>
    </div>
  </div>
</nav>

